--
-- PostgreSQL database dump
--

\restrict LwZugFKOkWxaMiyMs7esAmR50w4DfESkAjFZavzVFKtNj8wDw8rgYHWTfEvmcay

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: -
--

SET SESSION AUTHORIZATION DEFAULT;

ALTER TABLE public._prisma_migrations DISABLE TRIGGER ALL;



ALTER TABLE public._prisma_migrations ENABLE TRIGGER ALL;

--
-- Data for Name: addon_config; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.addon_config DISABLE TRIGGER ALL;



ALTER TABLE public.addon_config ENABLE TRIGGER ALL;

--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.audit_logs DISABLE TRIGGER ALL;

COPY public.audit_logs (id, entity_type, entity_id, action, changes, performed_by, created_at) FROM stdin;
\.


ALTER TABLE public.audit_logs ENABLE TRIGGER ALL;

--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.users DISABLE TRIGGER ALL;



ALTER TABLE public.users ENABLE TRIGGER ALL;

--
-- Data for Name: blocked_slots; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.blocked_slots DISABLE TRIGGER ALL;

COPY public.blocked_slots (id, date, start_time, end_time, reason, created_by, created_at) FROM stdin;
\.


ALTER TABLE public.blocked_slots ENABLE TRIGGER ALL;

--
-- Data for Name: contracts; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.contracts DISABLE TRIGGER ALL;



ALTER TABLE public.contracts ENABLE TRIGGER ALL;

--
-- Data for Name: bookings; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.bookings DISABLE TRIGGER ALL;



ALTER TABLE public.bookings ENABLE TRIGGER ALL;

--
-- Data for Name: business_config; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.business_config DISABLE TRIGGER ALL;



ALTER TABLE public.business_config ENABLE TRIGGER ALL;

--
-- Data for Name: integration_configs; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.integration_configs DISABLE TRIGGER ALL;



ALTER TABLE public.integration_configs ENABLE TRIGGER ALL;

--
-- Data for Name: payment_method_config; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.payment_method_config DISABLE TRIGGER ALL;

COPY public.payment_method_config (key, label, short_label, emoji, description, color, active, sort_order, access_mode, updated_at) FROM stdin;
PIX	PIX	PIX	ÔÜí	Pagamento instant├óneo	#22c55e	t	0	FULL	2026-04-03 03:18:53.873
CARTAO	Cart├úo de Cr├®dito	Cart├úo	­ƒÆ│	Cr├®dito ou d├®bito	#8b5cf6	t	1	FULL	2026-04-03 03:18:53.878
BOLETO	Boleto Banc├írio	Boleto	­ƒôä	Compensa├º├úo em at├® 3 dias ├║teis	#f59e0b	t	2	PROGRESSIVE	2026-04-03 03:18:53.881
\.


ALTER TABLE public.payment_method_config ENABLE TRIGGER ALL;

--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.payments DISABLE TRIGGER ALL;



ALTER TABLE public.payments ENABLE TRIGGER ALL;

--
-- Data for Name: pricing_config; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.pricing_config DISABLE TRIGGER ALL;

COPY public.pricing_config (id, tier, price, label, updated_at, description) FROM stdin;
9123285a-d4c0-4d00-ad3d-45a6327c02a6	COMERCIAL	30000	Comercial	2026-04-15 22:03:00.696	Faixa hor├írio comercial (10hÔÇô17h)
345509c6-bbb3-4d02-b5ab-d5ea7a6850ad	AUDIENCIA	40000	Audi├¬ncia	2026-04-15 22:03:00.701	Faixa prime-time (18hÔÇô22h)
5bc02293-0835-445b-92c2-7a98fa653657	SABADO	50000	S├íbado	2026-04-15 22:03:00.703	S├íbado (hor├írio premium)
\.


ALTER TABLE public.pricing_config ENABLE TRIGGER ALL;

--
-- Data for Name: push_subscriptions; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.push_subscriptions DISABLE TRIGGER ALL;



ALTER TABLE public.push_subscriptions ENABLE TRIGGER ALL;

--
-- Data for Name: saved_payment_methods; Type: TABLE DATA; Schema: public; Owner: -
--

ALTER TABLE public.saved_payment_methods DISABLE TRIGGER ALL;

COPY public.saved_payment_methods (id, user_id, stripe_pm_id, brand, last4, exp_month, exp_year, is_default, created_at) FROM stdin;
\.


ALTER TABLE public.saved_payment_methods ENABLE TRIGGER ALL;

--
-- PostgreSQL database dump complete
--

\unrestrict LwZugFKOkWxaMiyMs7esAmR50w4DfESkAjFZavzVFKtNj8wDw8rgYHWTfEvmcay

