--
-- PostgreSQL database dump
--

\restrict zg9De9GhjqvJk814vuZnEfzfu0WwTZDlEHP0tPrsr5cQzqEchhiOg7c9ocjC3zY

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.saved_payment_methods DROP CONSTRAINT IF EXISTS saved_payment_methods_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.push_subscriptions DROP CONSTRAINT IF EXISTS push_subscriptions_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.payments DROP CONSTRAINT IF EXISTS payments_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.payments DROP CONSTRAINT IF EXISTS payments_contract_id_fkey;
ALTER TABLE IF EXISTS ONLY public.payments DROP CONSTRAINT IF EXISTS payments_booking_id_fkey;
ALTER TABLE IF EXISTS ONLY public.contracts DROP CONSTRAINT IF EXISTS contracts_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.contracts DROP CONSTRAINT IF EXISTS contracts_renewed_from_id_fkey;
ALTER TABLE IF EXISTS ONLY public.bookings DROP CONSTRAINT IF EXISTS bookings_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.bookings DROP CONSTRAINT IF EXISTS bookings_contract_id_fkey;
ALTER TABLE IF EXISTS ONLY public.blocked_slots DROP CONSTRAINT IF EXISTS blocked_slots_created_by_fkey;
DROP INDEX IF EXISTS public.users_stripe_customer_id_key;
DROP INDEX IF EXISTS public.users_phone_key;
DROP INDEX IF EXISTS public.users_google_id_key;
DROP INDEX IF EXISTS public.users_email_key;
DROP INDEX IF EXISTS public.users_cpf_cnpj_key;
DROP INDEX IF EXISTS public.saved_payment_methods_user_id_idx;
DROP INDEX IF EXISTS public.saved_payment_methods_stripe_pm_id_key;
DROP INDEX IF EXISTS public.push_subscriptions_endpoint_key;
DROP INDEX IF EXISTS public.pricing_config_tier_key;
DROP INDEX IF EXISTS public.payments_user_id_idx;
DROP INDEX IF EXISTS public.payments_stripe_subscription_id_idx;
DROP INDEX IF EXISTS public.payments_status_idx;
DROP INDEX IF EXISTS public.payments_provider_ref_idx;
DROP INDEX IF EXISTS public.payments_contract_id_idx;
DROP INDEX IF EXISTS public.payments_booking_id_idx;
DROP INDEX IF EXISTS public.integration_configs_provider_key;
DROP INDEX IF EXISTS public.contracts_user_id_idx;
DROP INDEX IF EXISTS public.bookings_user_id_idx;
DROP INDEX IF EXISTS public.bookings_status_idx;
DROP INDEX IF EXISTS public.bookings_date_start_time_status_key;
DROP INDEX IF EXISTS public.bookings_date_idx;
DROP INDEX IF EXISTS public.bookings_contract_id_idx;
DROP INDEX IF EXISTS public.blocked_slots_date_idx;
DROP INDEX IF EXISTS public.audit_logs_entity_type_entity_id_idx;
DROP INDEX IF EXISTS public.audit_logs_created_at_idx;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.saved_payment_methods DROP CONSTRAINT IF EXISTS saved_payment_methods_pkey;
ALTER TABLE IF EXISTS ONLY public.push_subscriptions DROP CONSTRAINT IF EXISTS push_subscriptions_pkey;
ALTER TABLE IF EXISTS ONLY public.pricing_config DROP CONSTRAINT IF EXISTS pricing_config_pkey;
ALTER TABLE IF EXISTS ONLY public.payments DROP CONSTRAINT IF EXISTS payments_pkey;
ALTER TABLE IF EXISTS ONLY public.payment_method_config DROP CONSTRAINT IF EXISTS payment_method_config_pkey;
ALTER TABLE IF EXISTS ONLY public.integration_configs DROP CONSTRAINT IF EXISTS integration_configs_pkey;
ALTER TABLE IF EXISTS ONLY public.contracts DROP CONSTRAINT IF EXISTS contracts_pkey;
ALTER TABLE IF EXISTS ONLY public.business_config DROP CONSTRAINT IF EXISTS business_config_pkey;
ALTER TABLE IF EXISTS ONLY public.bookings DROP CONSTRAINT IF EXISTS bookings_pkey;
ALTER TABLE IF EXISTS ONLY public.blocked_slots DROP CONSTRAINT IF EXISTS blocked_slots_pkey;
ALTER TABLE IF EXISTS ONLY public.audit_logs DROP CONSTRAINT IF EXISTS audit_logs_pkey;
ALTER TABLE IF EXISTS ONLY public.addon_config DROP CONSTRAINT IF EXISTS addon_config_pkey;
ALTER TABLE IF EXISTS ONLY public._prisma_migrations DROP CONSTRAINT IF EXISTS _prisma_migrations_pkey;
DROP TABLE IF EXISTS public.users;
DROP TABLE IF EXISTS public.saved_payment_methods;
DROP TABLE IF EXISTS public.push_subscriptions;
DROP TABLE IF EXISTS public.pricing_config;
DROP TABLE IF EXISTS public.payments;
DROP TABLE IF EXISTS public.payment_method_config;
DROP TABLE IF EXISTS public.integration_configs;
DROP TABLE IF EXISTS public.contracts;
DROP TABLE IF EXISTS public.business_config;
DROP TABLE IF EXISTS public.bookings;
DROP TABLE IF EXISTS public.blocked_slots;
DROP TABLE IF EXISTS public.audit_logs;
DROP TABLE IF EXISTS public.addon_config;
DROP TABLE IF EXISTS public._prisma_migrations;
DROP TYPE IF EXISTS public."Tier";
DROP TYPE IF EXISTS public."Role";
DROP TYPE IF EXISTS public."PaymentStatus";
DROP TYPE IF EXISTS public."PaymentProvider";
DROP TYPE IF EXISTS public."PaymentMethod";
DROP TYPE IF EXISTS public."ContractType";
DROP TYPE IF EXISTS public."ContractStatus";
DROP TYPE IF EXISTS public."BookingStatus";
-- *not* dropping schema, since initdb creates it
--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

-- *not* creating schema, since initdb creates it


--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS '';


--
-- Name: BookingStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."BookingStatus" AS ENUM (
    'RESERVED',
    'CONFIRMED',
    'CANCELLED',
    'COMPLETED',
    'FALTA',
    'NAO_REALIZADO',
    'HELD'
);


--
-- Name: ContractStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."ContractStatus" AS ENUM (
    'ACTIVE',
    'AWAITING_PAYMENT',
    'EXPIRED',
    'CANCELLED',
    'PENDING_CANCELLATION',
    'PAUSED'
);


--
-- Name: ContractType; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."ContractType" AS ENUM (
    'FIXO',
    'FLEX',
    'SERVICO',
    'CUSTOM',
    'AVULSO'
);


--
-- Name: PaymentMethod; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."PaymentMethod" AS ENUM (
    'CARTAO',
    'PIX',
    'BOLETO'
);


--
-- Name: PaymentProvider; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."PaymentProvider" AS ENUM (
    'STRIPE',
    'CORA'
);


--
-- Name: PaymentStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."PaymentStatus" AS ENUM (
    'PENDING',
    'PAID',
    'FAILED',
    'REFUNDED'
);


--
-- Name: Role; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."Role" AS ENUM (
    'ADMIN',
    'CLIENTE'
);


--
-- Name: Tier; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."Tier" AS ENUM (
    'COMERCIAL',
    'AUDIENCIA',
    'SABADO'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


--
-- Name: addon_config; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.addon_config (
    key text NOT NULL,
    name text NOT NULL,
    price integer NOT NULL,
    description text,
    monthly boolean DEFAULT false NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.audit_logs (
    id text NOT NULL,
    entity_type text NOT NULL,
    entity_id text NOT NULL,
    action text NOT NULL,
    changes text,
    performed_by text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: blocked_slots; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.blocked_slots (
    id text NOT NULL,
    date date NOT NULL,
    start_time text NOT NULL,
    end_time text NOT NULL,
    reason text,
    created_by text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: bookings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.bookings (
    id text NOT NULL,
    user_id text NOT NULL,
    contract_id text NOT NULL,
    date date NOT NULL,
    start_time text NOT NULL,
    end_time text NOT NULL,
    status public."BookingStatus" DEFAULT 'RESERVED'::public."BookingStatus" NOT NULL,
    tier_applied public."Tier" NOT NULL,
    price integer NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    admin_notes text,
    client_notes text,
    platform_links text,
    platforms text,
    original_date date,
    add_ons text[],
    audience_origin text,
    chat_messages integer,
    duration_minutes integer,
    peak_viewers integer,
    hold_expires_at timestamp(3) without time zone
);


--
-- Name: business_config; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.business_config (
    key text NOT NULL,
    value text NOT NULL,
    type text NOT NULL,
    label text NOT NULL,
    "group" text NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: contracts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.contracts (
    id text NOT NULL,
    user_id text NOT NULL,
    type public."ContractType" NOT NULL,
    tier public."Tier" NOT NULL,
    duration_months integer NOT NULL,
    discount_pct integer NOT NULL,
    start_date timestamp(3) without time zone NOT NULL,
    end_date timestamp(3) without time zone NOT NULL,
    status public."ContractStatus" DEFAULT 'ACTIVE'::public."ContractStatus" NOT NULL,
    fixed_day_of_week integer,
    fixed_time text,
    flex_credits_total integer,
    flex_credits_remaining integer,
    flex_cycle_start timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    contract_url text,
    flex_weeks_compensated integer DEFAULT 0,
    payment_method public."PaymentMethod",
    access_mode text,
    add_ons text[],
    addon_credits text,
    custom_credits_remaining integer DEFAULT 0 NOT NULL,
    custom_schedule text,
    name text NOT NULL,
    pause_reason text,
    paused_at timestamp(3) without time zone,
    renewed_from_id text,
    resume_date timestamp(3) without time zone,
    sessions_per_cycle integer,
    sessions_per_week integer,
    total_sessions integer,
    payment_deadline timestamp(3) without time zone
);


--
-- Name: integration_configs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.integration_configs (
    id text NOT NULL,
    provider text NOT NULL,
    enabled boolean DEFAULT false NOT NULL,
    environment text DEFAULT 'sandbox'::text NOT NULL,
    config text NOT NULL,
    webhook_url text,
    last_tested_at timestamp(3) without time zone,
    test_status text,
    test_message text,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: payment_method_config; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.payment_method_config (
    key text NOT NULL,
    label text NOT NULL,
    short_label text NOT NULL,
    emoji text NOT NULL,
    description text NOT NULL,
    color text NOT NULL,
    active boolean DEFAULT true NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    access_mode text DEFAULT 'FULL'::text NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


--
-- Name: payments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.payments (
    id text NOT NULL,
    user_id text NOT NULL,
    contract_id text,
    booking_id text,
    provider public."PaymentProvider" NOT NULL,
    provider_ref text,
    amount integer NOT NULL,
    status public."PaymentStatus" DEFAULT 'PENDING'::public."PaymentStatus" NOT NULL,
    due_date timestamp(3) without time zone,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    boleto_url text,
    payment_url text,
    pix_string text,
    installments integer DEFAULT 1,
    payment_type text,
    stripe_subscription_id text,
    paid_at timestamp(3) without time zone
);


--
-- Name: pricing_config; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.pricing_config (
    id text NOT NULL,
    tier public."Tier" NOT NULL,
    price integer NOT NULL,
    label text NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    description text
);


--
-- Name: push_subscriptions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.push_subscriptions (
    id text NOT NULL,
    user_id text NOT NULL,
    endpoint text NOT NULL,
    p256dh text NOT NULL,
    auth text NOT NULL,
    user_agent text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: saved_payment_methods; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.saved_payment_methods (
    id text NOT NULL,
    user_id text NOT NULL,
    stripe_pm_id text NOT NULL,
    brand text NOT NULL,
    last4 text NOT NULL,
    exp_month integer NOT NULL,
    exp_year integer NOT NULL,
    is_default boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text,
    password_hash text,
    name text NOT NULL,
    phone text,
    role public."Role" DEFAULT 'CLIENTE'::public."Role" NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    notes text,
    photo_url text,
    address text,
    city text,
    client_status text DEFAULT 'ACTIVE'::text NOT NULL,
    cpf_cnpj text,
    google_id text,
    social_links text,
    state text,
    tags text[] DEFAULT ARRAY[]::text[],
    auto_charge_enabled boolean DEFAULT false NOT NULL,
    stripe_customer_id text
);


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: addon_config; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.audit_logs (id, entity_type, entity_id, action, changes, performed_by, created_at) FROM stdin;
\.


--
-- Data for Name: blocked_slots; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.blocked_slots (id, date, start_time, end_time, reason, created_by, created_at) FROM stdin;
\.


--
-- Data for Name: bookings; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: business_config; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: contracts; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: integration_configs; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: payment_method_config; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.payment_method_config (key, label, short_label, emoji, description, color, active, sort_order, access_mode, updated_at) FROM stdin;
PIX	PIX	PIX	ÔÜí	Pagamento instant├óneo	#22c55e	t	0	FULL	2026-04-03 03:18:53.873
CARTAO	Cart├úo de Cr├®dito	Cart├úo	­ƒÆ│	Cr├®dito ou d├®bito	#8b5cf6	t	1	FULL	2026-04-03 03:18:53.878
BOLETO	Boleto Banc├írio	Boleto	­ƒôä	Compensa├º├úo em at├® 3 dias ├║teis	#f59e0b	t	2	PROGRESSIVE	2026-04-03 03:18:53.881
\.


--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: pricing_config; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.pricing_config (id, tier, price, label, updated_at, description) FROM stdin;
9123285a-d4c0-4d00-ad3d-45a6327c02a6	COMERCIAL	30000	Comercial	2026-04-15 22:03:00.696	Faixa hor├írio comercial (10hÔÇô17h)
345509c6-bbb3-4d02-b5ab-d5ea7a6850ad	AUDIENCIA	40000	Audi├¬ncia	2026-04-15 22:03:00.701	Faixa prime-time (18hÔÇô22h)
5bc02293-0835-445b-92c2-7a98fa653657	SABADO	50000	S├íbado	2026-04-15 22:03:00.703	S├íbado (hor├írio premium)
\.


--
-- Data for Name: push_subscriptions; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: saved_payment_methods; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.saved_payment_methods (id, user_id, stripe_pm_id, brand, last4, exp_month, exp_year, is_default, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: addon_config addon_config_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.addon_config
    ADD CONSTRAINT addon_config_pkey PRIMARY KEY (key);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: blocked_slots blocked_slots_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.blocked_slots
    ADD CONSTRAINT blocked_slots_pkey PRIMARY KEY (id);


--
-- Name: bookings bookings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_pkey PRIMARY KEY (id);


--
-- Name: business_config business_config_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.business_config
    ADD CONSTRAINT business_config_pkey PRIMARY KEY (key);


--
-- Name: contracts contracts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.contracts
    ADD CONSTRAINT contracts_pkey PRIMARY KEY (id);


--
-- Name: integration_configs integration_configs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.integration_configs
    ADD CONSTRAINT integration_configs_pkey PRIMARY KEY (id);


--
-- Name: payment_method_config payment_method_config_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payment_method_config
    ADD CONSTRAINT payment_method_config_pkey PRIMARY KEY (key);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: pricing_config pricing_config_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.pricing_config
    ADD CONSTRAINT pricing_config_pkey PRIMARY KEY (id);


--
-- Name: push_subscriptions push_subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.push_subscriptions
    ADD CONSTRAINT push_subscriptions_pkey PRIMARY KEY (id);


--
-- Name: saved_payment_methods saved_payment_methods_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.saved_payment_methods
    ADD CONSTRAINT saved_payment_methods_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: audit_logs_created_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX audit_logs_created_at_idx ON public.audit_logs USING btree (created_at);


--
-- Name: audit_logs_entity_type_entity_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX audit_logs_entity_type_entity_id_idx ON public.audit_logs USING btree (entity_type, entity_id);


--
-- Name: blocked_slots_date_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX blocked_slots_date_idx ON public.blocked_slots USING btree (date);


--
-- Name: bookings_contract_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX bookings_contract_id_idx ON public.bookings USING btree (contract_id);


--
-- Name: bookings_date_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX bookings_date_idx ON public.bookings USING btree (date);


--
-- Name: bookings_date_start_time_status_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX bookings_date_start_time_status_key ON public.bookings USING btree (date, start_time, status);


--
-- Name: bookings_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX bookings_status_idx ON public.bookings USING btree (status);


--
-- Name: bookings_user_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX bookings_user_id_idx ON public.bookings USING btree (user_id);


--
-- Name: contracts_user_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX contracts_user_id_idx ON public.contracts USING btree (user_id);


--
-- Name: integration_configs_provider_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX integration_configs_provider_key ON public.integration_configs USING btree (provider);


--
-- Name: payments_booking_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payments_booking_id_idx ON public.payments USING btree (booking_id);


--
-- Name: payments_contract_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payments_contract_id_idx ON public.payments USING btree (contract_id);


--
-- Name: payments_provider_ref_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payments_provider_ref_idx ON public.payments USING btree (provider_ref);


--
-- Name: payments_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payments_status_idx ON public.payments USING btree (status);


--
-- Name: payments_stripe_subscription_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payments_stripe_subscription_id_idx ON public.payments USING btree (stripe_subscription_id);


--
-- Name: payments_user_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payments_user_id_idx ON public.payments USING btree (user_id);


--
-- Name: pricing_config_tier_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX pricing_config_tier_key ON public.pricing_config USING btree (tier);


--
-- Name: push_subscriptions_endpoint_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX push_subscriptions_endpoint_key ON public.push_subscriptions USING btree (endpoint);


--
-- Name: saved_payment_methods_stripe_pm_id_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX saved_payment_methods_stripe_pm_id_key ON public.saved_payment_methods USING btree (stripe_pm_id);


--
-- Name: saved_payment_methods_user_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX saved_payment_methods_user_id_idx ON public.saved_payment_methods USING btree (user_id);


--
-- Name: users_cpf_cnpj_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX users_cpf_cnpj_key ON public.users USING btree (cpf_cnpj);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: users_google_id_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX users_google_id_key ON public.users USING btree (google_id);


--
-- Name: users_phone_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX users_phone_key ON public.users USING btree (phone);


--
-- Name: users_stripe_customer_id_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX users_stripe_customer_id_key ON public.users USING btree (stripe_customer_id);


--
-- Name: blocked_slots blocked_slots_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.blocked_slots
    ADD CONSTRAINT blocked_slots_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: bookings bookings_contract_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_contract_id_fkey FOREIGN KEY (contract_id) REFERENCES public.contracts(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: bookings bookings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: contracts contracts_renewed_from_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.contracts
    ADD CONSTRAINT contracts_renewed_from_id_fkey FOREIGN KEY (renewed_from_id) REFERENCES public.contracts(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: contracts contracts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.contracts
    ADD CONSTRAINT contracts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: payments payments_booking_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_booking_id_fkey FOREIGN KEY (booking_id) REFERENCES public.bookings(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: payments payments_contract_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_contract_id_fkey FOREIGN KEY (contract_id) REFERENCES public.contracts(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: payments payments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: push_subscriptions push_subscriptions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.push_subscriptions
    ADD CONSTRAINT push_subscriptions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: saved_payment_methods saved_payment_methods_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.saved_payment_methods
    ADD CONSTRAINT saved_payment_methods_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict zg9De9GhjqvJk814vuZnEfzfu0WwTZDlEHP0tPrsr5cQzqEchhiOg7c9ocjC3zY

